<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufc.great.contextreminder">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.google.android.awareness.API_KEY" android:value="AIzaSyDKAL0CunUe7Y-gugUamFAq3xnYcUcvTM4"/>
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyCspF7ooDnOJql3cBnyWiPkbdI7EIa9ByA"/>
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateReminderActivity" />
        <activity android:name=".SelectContextActivity" />
        <activity android:name=".SelectMethodActivity" />
        <activity android:name=".EditTriggerActivity"></activity>
    </application>

</manifest>